* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.content-wraper {
    background: url(../images/contect-page-bg.jpg) no-repeat 0 0;
    background-size: cover;
}

.head-title h1 {
    font-size: 55px;
    color: #fff;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    padding-top: calc(90vmax / 10);
    padding-bottom: calc(90vmax / 10);
}


/* main content section */


#contact-main {
    display: flex;
}

#contect-left {
    width: 50vw;
}

#contect-left iframe {
    margin: 20px 0px;
}

#contect-right {
    width: 50vw;
}

#email-box h4 {
    font-size: 3vw;
    color: #fff;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin: 30px 0px 50px 0px;
}

#email-box a {
    font-size: 25px;
    font-family: "Inter", sans-serif;
    color: #fff;
    display: block;
    margin-bottom: 30px;
}

#headquarters-box h4 {
    font-size: 3vw;
    color: #fff;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin: 30px 0px 50px 0px;
}

#headquarters-box address {
    font-size: 2vw;
    color: #fff;
    font-family: "Inter", sans-serif;
}