* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.content-wraper {
    background: url(../assets/contect-page-bg.jpg) no-repeat 0 0;
    background-size: cover;
}

#contact-overlay {
    background-color: rgb(0 0 0 / 40%);
    margin-bottom: 30px;
    padding-bottom: 6%;
}

.head-title h1 {
    font-size: 55px;
    color: #fff;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    padding-top: calc(90vmax / 10);
    padding-bottom: calc(90vmax / 10);
}


/* main content section */


#contact-main {
    display: flex;
}

#contect-left {
    width: 50vw;
}

#contect-left iframe {
    margin: 20px 0px;
}

#contect-right {
    width: 50vw;
}

#email-box h4 {
    font-size: 3vw;
    color: #fff;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin: 30px 0px 50px 0px;
}

#email-box a {
    font-size: 25px;
    font-family: "Inter", sans-serif;
    color: #fff;
    display: block;
    margin-bottom: 30px;
}

#headquarters-box h4 {
    font-size: 3vw;
    color: #fff;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin: 30px 0px 50px 0px;
}

#headquarters-box address {
    font-size: 2vw;
    color: #fff;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

#social-box h4 {
    font-size: 3vw;
    color: #fff;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-top: 30px;
}

#social-box a {
    font-size: 30px;
    background-color: #fff;
    padding: 12px 16px;
    position: relative;
    left: 30px;
    top: 0;
    width: 4vw;

    display: inline-block;
    margin-bottom: 10px;
    border-radius: 8px;
    color: hsla(0, 0%, 0%, 1);
    transition: 0.1s ease-in-out;
}

#social-box a:hover {
    background-color: rgb(170, 170, 170);
    transition: 0.1s ease-in-out;
}

@media only screen and (max-width: 480px) {

    .logo img {
        width: 260px;
        height: 85px;
    }

    .head-title h1 {
        font-size: 35px;
        margin-left: 0.5rem;
        padding-top: calc(60vmax / 10);
        padding-bottom: calc(60vmax / 10);
    }

    #contact-main {
        flex-wrap: wrap;
    }

    #contect-left {
        width: 100vw;
    }

    iframe.map-size {
        width: 100vw;
        padding: 0 1.5rem;
    }


    #contect-right {
        width: 90vw;
        margin: 0 auto;
    }

    #social-box a {
        width: 12vw;
    }

    #social-box a {
        font-size: 25px;
        padding: 14px 16px;
        left: 40px;
    }

    #email-box h4 {
        margin: 30px 0px 15px 0px;
    }

    #headquarters-box address {
        font-size: 1rem;
        letter-spacing: 1px;
    }

    #headquarters-box h4 {
        font-size: 1.2rem;
        margin: 45px 0px 20px 0px;
    }

    #social-box h4 {
        margin-bottom: 0.5rem;
    }

    footer a:nth-child(3) {
        font-size: 1rem;
        letter-spacing: 1px;
        padding: 4px 40px;
    }
}