* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}



/* navigation and header to */

header {
    background: #000000;
    height: 130px;
}

.logo img {
    width: 300px;
    height: 100px;
    margin-top: 10px;
}

.nav {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
}

.nav ul a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    margin-left: 35px;
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
}

.active {
    border-bottom: 1px solid #ffffff;
}

.reach-us a {
    padding: 14px 24px;
    text-decoration: none;
    background: #ffffff;
    font-size: 14px;
    color: #000000;
    font-family: "Inter", sans-serif;
    transition: 0.1s;
}

.reach-us a:hover {
    background: #bfbfbf;
    transition: 0.1s ease-in-out;
}



/* hero sectio */


.hero-section {
    padding: 40px 0px;
    background-image: url(../image/hero-background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1519px;
    height: 512px;
}

.hero-left h4 {
    font-size: 45px;
    color: #000000;
    margin: 75px 0px 50px 0px;
    width: 54%;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

strong {
    color: grey;
}

.hero-left h5 {
    color: #000000;
    width: 51%;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
}

.hero-left h6 {
    color: #000000;
    width: 51%;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.hero-left a {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    background: #000000;
    padding: 6px 70px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}

.hero-left a:hover {
    background-color: #000000bd;
}


/* produce section */


.produce-section {
    display: flex;
    background-color: #f8f8f8;
    padding-top: 40px;
}

.produce h2 {
    font-size: 62px;
    margin-left: 57px;
    font-family: "Inter", sans-serif;
}

.produce p {
    margin-left: 57px;
    margin-top: 50px;
    font-size: 20px;
    width: 76%;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

.produce {
    width: 70%;
}

.produce-right {
    width: 54%;
    overflow: hidden;
}

.produce-right img {
    width: 640px;
    height: 478px;

}

.img-hover {
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.img-hover:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in-out;
}










/* custom scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    /* background: linear-gradient(#642bff, #ff22e6); */
    background: linear-gradient(#2b2b2b, #181718);
    /* border-radius: 10px; */
}

/* custom scrollbar close */