* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.service-wrep {
    background: url(../images/service-wrep-img.jpg) no-repeat 0 0;
    background-size: cover;
}

.service-overlay {
    background-color: rgb(0 0 0 / 40%);
    margin-bottom: 30px;
    padding-bottom: 10%;
}

h1 {
    font-size: 55px;
    color: #fff;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    padding-top: calc(80vmax / 10);
    padding-bottom: calc(80vmax / 10);
}

.design-left h2 {
    font-size: 36px;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.design-section {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    padding-bottom: 45px;
}

.design-right {
    width: 50%;
}

.design-right h4 {
    font-size: 35px;
    color: #fff;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

.design-right ul {
    margin-left: 8%;
}

.design-right ul li {
    font-size: 23px;
    color: #fff;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 16px;
}