<%- include("includes/head.ejs") %>

    <body>

        <!-- navigation section -->

        <header>
            <div class="container">
                <div class="navigation">

                    <div class="logo">
                        <a href="">
                            <img src="/assets/Logo+-+White.png" alt="main logo">
                        </a>
                    </div>

                    <div id="menu" onclick="onClickMenu()">
                        <div id="bar1" class="bar"></div>
                        <div id="bar2" class="bar"></div>
                        <div id="bar3" class="bar"></div>
                    </div>
                    <ul class="nav" id="nav">
                        <li><a href="https://abhi-202864.github.io/Reach-Experience/index.html"
                                class="hover-line">HOME</a>
                        </li>
                        <li><a href="https://abhi-202864.github.io/Reach-Experience/about.html"
                                class="hover-line">ABOUT</a>
                        </li>
                        <li><a href="https://abhi-202864.github.io/Reach-Experience/services.html"
                                class="hover-line">SERVICES</a></li>
                        <li><a href="https://abhi-202864.github.io/Reach-Experience/experiences.html"
                                class="hover-line">EXPERIENCES</a>
                        </li>
                        <li><a href="https://abhi-202864.github.io/Reach-Experience/contact.html"
                                class="hover-line">CONTACT
                            </a></li>
                        <div id="reach-us">
                            <a href="">REACH US</a>
                        </div>
                    </ul>

                    </nav>

                </div>
            </div>
        </header>



        <!-- about-wrep section -->


        <section class="about-wrep-section">
            <div class="about-overlay">
                <div class="container">
                    <div class="about-wrep">
                        <h1>ABOUT US</h1>
                        <hr>
                        <div class="about-content">
                            <div class="left-content">

                            </div>
                            <div class="right-content">
                                <h4>Reach Experience is a full-service event and activation production agency. </h4>
                                <h4>We work with our clients to design, execute and analyse events and activations that
                                    leave a
                                    positive impression on those they interact with.</h4>
                                <h4>Our team are multi-disciplinary, with experience working on complex projects both
                                    locally
                                    and
                                    globally, bringing together expertise from a variety of industry backgrounds.</h4>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </section>

        <%- include("includes/footer.ejs") %>