* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #f8f8f8;
}

/* navigation and header to */

header {
    background: #000000;
    height: 130px;
}

.logo img {
    width: 300px;
    height: 100px;
    margin-top: 10px;
}

#nav {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
}

#nav a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    margin-left: 25px;
    font-family: "Inter", sans-serif;
    letter-spacing: 2px;
    transition: 0.5s ease-in-out;
}

/* .nav a:hover {
    color: #dedede;
} */

.hover-line {
    display: inline-block;
    transition: 0.5s ease-in-out;
}

.hover-line::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background: #dedede;
    transition: width 0.5s ease-in-out;
    position: relative;
    top: 2px;
}

.hover-line:hover:after {
    width: 100%;
}

#reach-us a {
    padding: 14px 24px;
    text-decoration: none;
    background: #ffffff;
    font-size: 14px;
    color: #000000;
    font-family: "Inter", sans-serif;
    transition: 0.1s;
    display: inline-block;
    transition: 0.1s ease-in-out;
}

#reach-us a:hover {
    background: #bfbfbf;
    color: #000000;
}

#menu {
    display: none;
}



/* hero sectio */


.hero-section {
    padding: 40px 0px;
    background-image: url(../images/back-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1520px;
    height: 512px;
}

.hero-left h4 {
    font-size: 45px;
    color: #000000;
    margin: 75px 0px 50px 0px;
    width: 54%;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

strong {
    color: grey;
}

.hero-left h5 {
    color: #000000;
    width: 51%;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
}

.hero-left h6 {
    color: #000000;
    width: 51%;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.hero-left a {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    background: #000000;
    padding: 6px 70px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}

.hero-left a:hover {
    background-color: #2f2a2ad9;
}


/* produce section */


.produce-section {
    padding-top: 40px;
    position: relative;
    margin-bottom: 14%;
}

.produce h2 {
    font-size: 62px;
    margin-left: 57px;
    font-family: "Inter", sans-serif;
}

.produce p {
    margin-left: 57px;
    margin-top: 50px;
    font-size: 20px;
    width: 76%;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
}

.produce {
    display: flex;
}

.produce-right {
    width: 62%;
    overflow: hidden;
}

.produce-right img {
    width: 637px;
    height: 478px;
}

.img-hover {
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.img-hover:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in-out;
}


.produce-bottom {
    overflow: hidden;
    position: relative;
    top: 93%;
    display: inline-block;
    bottom: 45px;
}

.produce-bottom img {
    width: 620px;
    height: 816px;
}

.produce-basketball {
    position: relative;
    left: 145px;
    top: 235px;
    overflow: hidden;
    padding-bottom: 70px;
    display: inline-block;
}

.produce-basketball img {
    width: 690px;
    height: 435px;
}






/* home-card section */


.home-card-section {
    background-color: white;
}

.home-card {
    display: flex;
    padding: 6% 0;
    grid-gap: 0px 46px;
}

.card-desing {
    width: 33%;
    border-top: 8px solid #938c8c;
}

.card-desing img {
    width: 315px;
    height: 330px;
}

.card-desing .img {
    overflow: hidden;
}

.card-desing h4 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}

.card-desing p {
    font-size: 17px;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    width: 106%;
    line-height: 24px;
    margin-top: 15px;
}



/* FAQ section */



.faq {
    display: flex;
    padding: 100px 0px;
    justify-content: space-between;
}

.faq h3 {
    font-size: 80px;
    font-family: "Inter", sans-serif;
    margin-left: 8%;
}



/*-------------Accordian-----------------*/



.accordion {
    max-width: 50vw;
    margin-right: 8%;
}

.accordion-item {
    border-top: 1px solid #c5c5c5;
    color: #333;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    padding: 0 1em;
}

.accordion-content p {
    padding: 1em 0;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-left: 80px;
    font-family: "Inter", sans-serif;
}

.accordion-content.active {
    max-height: auto;
}

.accordion-item h2 {
    position: relative;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    padding: 1em;
    margin: 0;
    cursor: pointer;
}

.accordion-item h2::before {
    content: "+";
    position: absolute;
    right: 10px;
}

.accordion-item.active h2::before {
    content: "-";
}

/* For mobile screens */
@media (max-width: 767px) {
    .accordion {
        max-width: 100vw;
        margin: 0 auto;
    }
}



/* brief section */



.brief-section {
    position: relative;
    margin-top: 50px;
}

.brief-section .img img {
    width: 100%;
    height: 300px;
}

.brief-middle {
    position: absolute;
    transform: translate(601px, -195px);
}

.brief-middle a {
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    color: #181718;
    font-family: "Inter", sans-serif;
    padding: 15px 65px;
    background: hsla(0, 0%, 100%, 1);
    transition: 0.2s;
}

.brief-middle a:hover {
    transition: 0.2s;
    opacity: 0.8;
}



/* footer section */


footer {
    margin-top: 20px;
    text-align: center;
}

footer a {
    display: block;
    text-align: center;
    font-size: 40px;
    color: hsla(0, 0%, 0%, 1);
}

.footer-icon {
    transition: 0.2s ease-in-out;
}

.footer-icon:hover {
    color: rgb(65, 65, 65);
    transition: 0.2s ease-in-out;
}

footer a:nth-child(3) {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: hsla(0, 0%, 0%, 1);
    color: white;
    font-family: "Inter", sans-serif;
    padding: 4px 120px;
    letter-spacing: 2px;
    transition: 0.1s;
}

footer a:nth-child(3):hover {
    background: rgb(67, 67, 67);
    transition: 0.1s ease-in-out;
}

footer .img img {
    width: 220px;
    height: 100px;
}

footer p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    line-height: 27px;
    letter-spacing: 2px;
}




/* custom scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    /* background: linear-gradient(#642bff, #ff22e6); */
    background: linear-gradient(#2b2b2b, #181718);
    /* border-radius: 10px; */
}

/* custom scrollbar close */

/* Responsive Hamburger Menu */
#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    z-index: 100;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #fff;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.icon .bar {
    background-color: #fff;
}

.icon #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
    opacity: 0;
}

.change {
    background-color: #e50000;
    height: 100vh;
    margin: 0;
    position: absolute;
    font-size: 30px;
    top: 0;
    z-index: -100;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




/* Responsive */

@media only screen and (max-width: 768px) {

    #nav {
        display: none;
    }

    #menu {
        display: block;
    }

    .hero-section {
        width: 100vw;
        height: 465px;

    }

    .hero-left h4 {
        font-size: 40px;
        margin: 50px 0px 35px 0px;
        width: 60%;
    }

    .hero-left h5 {
        width: 62%;
        font-size: 24px;
        font-weight: 300;
    }

    .hero-left h6 {
        width: 68%;
        font-size: 24px;
        font-weight: 300;
    }

    .hero-left {
        margin-left: 2rem;
    }

    .produce {
        flex-wrap: wrap;
    }

    .produce h2 {
        font-size: 45px;
        margin-left: 50px;
    }

    .produce p {
        margin-left: 50px;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .produce-bottom img {
        width: 95vw;
        height: 70vw;
        margin-left: 20px;
    }

    .produce-bottom {
        position: relative;
        top: 12px;
    }

    .img-hover:hover {
        transform: scale(1);
        transition: 0.5s ease-in-out;
    }

    .produce-right img {
        width: 95vw;
        height: 400px;
        margin-left: 20px;
    }

    .produce-right {
        width: 100%;
    }

    .produce-basketball {
        position: relative;
        left: 0;
        top: 18px;
        padding-bottom: 0;
    }

    .produce-basketball img {
        width: 95vw;
        height: 400px;
        margin-left: 20px;
    }

    .home-card {
        flex-wrap: wrap;
        justify-content: center;
        padding: 4% 0;
        grid-gap: 10px 4rem;
    }

    .card-desing {
        width: 40vw;
    }

    .card-desing h4 {
        font-size: 22px;
        margin-top: 12px;
    }

    .card-desing p {
        font-size: 14px;
        width: 100%;
        line-height: 20px;
        margin-top: 5px;
    }

    .faq h3 {
        font-size: 65px;
        margin-left: 4%;
        margin-right: 5px;
    }

    .accordion-item h2 {
        font-size: 15px;
        padding: 0.8rem;
    }

    .accordion-content p {
        padding: 0.8rem 0;
        font-size: 12px;
        margin-left: 30px;

    }

    .faq {
        padding: 40px 0px;
        margin-right: 10px;
    }

    .brief-middle a {
        font-size: 15px;
        padding: 12px 32px;
    }

    .brief-middle {
        position: absolute;
        left: 0px;
        transform: translate(190px, -170px);
    }

    .brief-section .img img {
        width: 100vw;
        height: 300px;
    }

    footer a {
        font-size: 35px;
    }


    footer a:nth-child(3) {
        padding: 4px 80px;
    }
}


@media only screen and (max-width: 480px) {

    .hero-left a {
        border-radius: 8px;
        font-size: 16px;

        padding: 6px 50px;
    }

    .hero-left h4 {
        font-size: 22px;
        margin: 32px 0px 32px 0px;
        width: 60%;
    }

    .hero-left h5 {
        width: 70%;
        font-size: 17px;
    }

    .hero-left h6 {
        width: 80%;
        font-size: 20px;
    }

    .hero-section {
        height: 420px;
    }

    .produce h2 {
        font-size: 32px;
    }

    .produce p {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .produce-right img {
        width: 90vw;
        height: 380px;
        margin-left: 20px;
    }

    .produce-bottom img {
        width: 90vw;
        margin-left: 20px;
    }

    .produce-basketball img {
        width: 90vw;
        margin-left: 20px;
    }

    .card-desing {
        width: 65vw;
        margin-top: 2rem;
    }

    .home-card {
        padding: 0% 0;
        grid-gap: 0px 0rem;
    }

    .faq {
        flex-wrap: wrap;
    }

    .faq h3 {
        font-size: 60px;
        margin: 0 auto;
        padding-bottom: 2rem;
    }

    .accordion {
        padding: 1.2rem;
    }

    .accordion-item h2 {
        padding: 0.9rem;
    }

    .brief-middle a {
        font-size: 15px;
        padding: 8px 30px;
    }

    .brief-middle {
        transform: translate(70px, -150px);
    }

    footer a:nth-child(3) {
        padding: 4px 50px;
        border-radius: 8px;
    }

    footer p {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 1px;
    }


}

@media only screen and (max-width: 320px) {

    .logo img {
        width: 245px;
    }

    .hero-left h4 {
        margin: 0px 0px 28px 0px;
    }

    .hero-left h6 {
        margin-top: 20px;
    }

    .produce h2 {
        font-size: 25px;
        margin-left: 35px;
    }

    .produce p {
        margin-left: 35px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .produce-right img {
        height: 300px;
    }

    .produce-basketball img {
        height: 300px;
    }

    .card-desing {
        width: 75vw;
    }

    .card-desing img {
        width: 240px;
        height: 300px;
    }

    .card-desing h4 {
        font-size: 20px;
    }

    .card-desing p {
        font-size: 14px;
        line-height: 17px;
    }

    .faq h3 {
        font-size: 45px;
        padding-bottom: 0rem;
    }

    .faq {
        padding: 28px 0px;
    }

    .accordion-item h2 {
        font-size: 13px;
    }

    .brief-section {
        margin-top: 20px;
    }

    footer p {
        font-size: 14px;
    }

}